draft-combined/rdeCsv-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema targetNamespace="urn:ietf:params:xml:ns:rdeCsv-1.0"
       xmlns:rdeCsv="urn:ietf:params:xml:ns:rdeCsv-1.0"
       xmlns:rde="urn:ietf:params:xml:ns:rde-1.0"
       xmlns:eppcom="urn:ietf:params:xml:ns:eppcom-1.0"
       xmlns="http://www.w3.org/2001/XMLSchema"
       elementFormDefault="qualified">

  <!--
  Import common element types
  -->
  <import namespace="urn:ietf:params:xml:ns:eppcom-1.0"
       schemaLocation="eppcom-1.0.xsd"/>
  <import namespace="urn:ietf:params:xml:ns:rde-1.0"
       schemaLocation="rde-1.0.xsd"/>

  <annotation>
   <documentation>
    Registry Data Escrow Comma-Seperated Values (CSV) 
   </documentation>
  </annotation>

  <!-- csv content element -->  
  <element name="csv" type="rdeCsv:csvType"
  substitutionGroup="rde:content"/>
  
  
  <!-- Definition of CSV file -->  
 <complexType name="csvType">
  <complexContent>
  <extension base="rde:contentType">
   <sequence>
    <element name="sep" type="token" default="," 
      minOccurs="0"/>
    <element name="fields" type="rdeCsv:fieldsType"/>
    <element name="files" type="rdeCsv:filesType"/>
   </sequence>
   <attribute name="name" type="token" use="required"/>
  </extension>
  </complexContent>
 </complexType>


  <element name="csvDelete" type="rdeCsv:csvDeleteType"
  substitutionGroup="rde:delete"/>
  
 <complexType name="csvDeleteType">
  <complexContent>
  <extension base="rde:deleteType">
   <sequence>
    <element name="sep" type="token" default="," 
      minOccurs="0"/>
    <element name="fields" type="rdeCsv:fieldsType"/>
    <element name="files" type="rdeCsv:filesType"/>
   </sequence>
   <attribute name="name" type="token" use="required"/>
  </extension>
  </complexContent>
 </complexType>

 
 <!-- Abstract field type -->
 <element name="field" type="rdeCsv:fieldType" 
  abstract="true"/>
 <complexType name="fieldType">
  <sequence/>
 </complexType>
 
 <!-- Concrete field types -->
 
 <!-- Name field (e.g. domain name) -->
 <element name="fName" type="rdeCsv:fNameType" 
  substitutionGroup="rdeCsv:field"/>
 <!-- UTF-8 Name field (e.g. domain name) -->
 <element name="fUName" type="rdeCsv:fNameType" 
   substitutionGroup="rdeCsv:field"/>   
 <complexType name="fNameType">
  <complexContent>
    <extension base="rdeCsv:fieldType">
      <sequence/>
      <attribute name="type" type="token"  
        default="eppcom\:labelType"/>
    </extension>
  </complexContent>
 </complexType>

 <!-- Registry Object IDentifier (roid) field -->
 <element name="fRoid" type="rdeCsv:fRoidType" 
  substitutionGroup="rdeCsv:field"/>
 <complexType name="fRoidType">
  <complexContent>
    <extension base="rdeCsv:fieldType">
      <sequence/>
      <attribute name="type" type="token"  
        default="eppcom\:roidType"/>
    </extension>
  </complexContent>
 </complexType>

 <!-- Registrant field -->
 <element name="fRegistrant" type="rdeCsv:fRegistrantType" 
  substitutionGroup="rdeCsv:field"/>
 <complexType name="fRegistrantType">
  <complexContent>
    <extension base="rdeCsv:fieldType">
      <sequence/>
      <attribute name="type" type="token"  
        default="eppcom\:clIDType"/>
    </extension>
  </complexContent>
 </complexType>

 <!-- Contact fields (Admin, Tech, Billing) -->
 <element name="fAdminContacts" type="rdeCsv:fContactsType" 
  substitutionGroup="rdeCsv:field"/>
 <element name="fTechContacts" type="rdeCsv:fContactsType" 
  substitutionGroup="rdeCsv:field"/>
 <element name="fBillingContacts" type="rdeCsv:fContactsType" 
  substitutionGroup="rdeCsv:field"/>
 <complexType name="fContactsType">
  <complexContent>
    <extension base="rdeCsv:fieldType">
      <sequence/>
      <attribute name="type" type="token"  
        default="eppcom\:clIDType"/>
      <attribute name="list" type="boolean" 
        default="true"/>
      <attribute name="sep" type="token" 
        default=","/>
    </extension>
  </complexContent>
 </complexType>



 <!-- Statuses as a list of delimited statuses 
      with ',' as delimeter -->
 <element name="fStatuses" type="rdeCsv:fStatusesType" 
  substitutionGroup="rdeCsv:field"/>
 <complexType name="fStatusesType">
  <complexContent>
    <extension base="rdeCsv:fieldType">
      <sequence/>
      <attribute name="type" type="token"  
        default="eppcom\:statusType"/>
      <attribute name="list" type="boolean" 
        default="true"/>
      <attribute name="sep" type="token" 
        default=","/>
    </extension>
  </complexContent>
 </complexType>
 
 <!-- clID fields (fClID, fCrID, fUpID) -->
 <!-- Identifier of client that sponsors the object -->   
 <element name="fClID" type="rdeCsv:fClIDType" 
  substitutionGroup="rdeCsv:field"/>
 <!-- Identifier of client that created the object -->  
 <element name="fCrID" type="rdeCsv:fClIDType" 
  substitutionGroup="rdeCsv:field"/>
 <!-- Identifier of client that updated the object -->  
 <element name="fUpID" type="rdeCsv:fClIDType" 
  substitutionGroup="rdeCsv:field"/>
 <!-- Identifier of client that requested the transfer -->
 <element name="fReID" type="rdeCsv:fClIDType" 
  substitutionGroup="rdeCsv:field"/>
 <!-- Identifier of client that should take or took action -->
 <element name="fAcID" type="rdeCsv:fClIDType" 
  substitutionGroup="rdeCsv:field"/>
 <complexType name="fClIDType">
  <complexContent>
    <extension base="rdeCsv:fieldType">
      <sequence/>
      <attribute name="type" type="token"  
        default="eppcom\:clIDType"/>
    </extension>
  </complexContent>
 </complexType>
 
 <!-- datetime fields (fCrDate, fUpDate, fExDate) -->
 <element name="fCrDate" type="rdeCsv:fDatetimeType" 
  substitutionGroup="rdeCsv:field"/>
 <element name="fUpDate" type="rdeCsv:fDatetimeType" 
  substitutionGroup="rdeCsv:field"/>
 <element name="fExDate" type="rdeCsv:fDatetimeType" 
  substitutionGroup="rdeCsv:field"/>
 <!-- Date and time that transfer was requested -->
 <element name="fReDate" type="rdeCsv:fDatetimeType" 
  substitutionGroup="rdeCsv:field"/>
 <!-- Date and time of a required or completed response -->
 <element name="fAcDate" type="rdeCsv:fDatetimeType" 
  substitutionGroup="rdeCsv:field"/>
 <element name="fTrDate" type="rdeCsv:fDatetimeType" 
  substitutionGroup="rdeCsv:field"/>
 <complexType name="fDatetimeType">
  <complexContent>
    <extension base="rdeCsv:fieldType">
      <sequence/>
      <attribute name="type" type="token"  
        default="datetime"/>
    </extension>
  </complexContent>
 </complexType>
 
 <!-- boolean type -->
 <complexType name="fBooleanType">
  <complexContent>
    <extension base="rdeCsv:fieldType">
      <sequence/>
      <attribute name="type" type="token"  
        default="boolean"/>
    </extension>
  </complexContent>
 </complexType>

 <!-- unsignedbyte type -->
 <complexType name="fUnsignedByteType">
  <complexContent>
    <extension base="rdeCsv:fieldType">
      <sequence/>
      <attribute name="type" type="token"  
        default="unsignedbyte"/>
    </extension>
  </complexContent>
 </complexType>

 <!-- unsignedShort type -->
 <complexType name="fUnsignedShortType">
  <complexContent>
    <extension base="rdeCsv:fieldType">
      <sequence/>
      <attribute name="type" type="token"  
        default="unsignedShort"/>
    </extension>
  </complexContent>
 </complexType>

 <!-- hexBinary type -->
 <complexType name="fHexBinaryType">
  <complexContent>
    <extension base="rdeCsv:fieldType">
      <sequence/>
      <attribute name="type" type="token"  
        default="hexBinary"/>
    </extension>
  </complexContent>
 </complexType>


 <!-- language type -->
 <element name="fLanguage" type="rdeCsv:fLanguageType" 
  substitutionGroup="rdeCsv:field"/>
 <complexType name="fLanguageType">
  <complexContent>
    <extension base="rdeCsv:fieldType">
      <sequence/>
      <attribute name="type" type="token"  
        default="language"/>
    </extension>
  </complexContent>
 </complexType>

 
 <!-- State of the most recent transfer request -->
 <element name="fTrStatus" type="rdeCsv:fTrStatusType" 
  substitutionGroup="rdeCsv:field"/>
 <complexType name="fTrStatusType">
  <complexContent>
    <extension base="rdeCsv:fieldType">
      <sequence/>
      <attribute name="type" type="token"  
        default="eppcom\:trStatusType"/>
    </extension>
  </complexContent>
 </complexType>
 
 <!-- General token type -->
 <complexType name="fTokenType">
  <complexContent>
    <extension base="rdeCsv:fieldType">
      <sequence/>
      <attribute name="type" type="token"  
        default="token"/>
    </extension>
  </complexContent>
 </complexType>
 
 <!-- positive integer type -->
 <complexType name="fPositiveIntegerType">
  <complexContent>
    <extension base="rdeCsv:fieldType">
      <sequence/>
      <attribute name="type" type="token"  
        default="positiveInteger"/>
    </extension>
  </complexContent>
 </complexType>

 
 <!-- Password authorization info -->
 <element name="fPwAuthInfo" type="rdeCsv:fPwAuthInfoType" 
  substitutionGroup="rdeCsv:field"/>
 <complexType name="fPwAuthInfoType">
  <complexContent>
    <extension base="rdeCsv:fieldType">
      <sequence/>
      <attribute name="type" type="token"  
        default="normalizedString"/>
    </extension>
  </complexContent>
 </complexType>
 
 
 <!-- Custom / extension field type -->
 <element name="fCustom" type="rdeCsv:fCustomType" 
  substitutionGroup="rdeCsv:field"/>
 <complexType name="fCustomType">
  <complexContent>
    <extension base="rdeCsv:fieldType">
      <sequence/>
      <attribute name="name" type="token"/>
      <attribute name="type" type="token"  
        default="token"/>
    </extension>
  </complexContent>
 </complexType>

 <!-- Ordered list of field definitions for the csv --> 
 <complexType name="fieldsType">
  <sequence maxOccurs="unbounded">
    <element ref="rdeCsv:field"/>
  </sequence>
 </complexType>
 
 <!-- List of files -->
 <complexType name="filesType">
  <sequence>
    <element name="file" type="rdeCsv:fileType" 
      maxOccurs="unbounded"/>
  </sequence>
 </complexType>
 
 <!-- File definition -->
 <complexType name="fileType">
  <simpleContent>
    <extension base="token">
      <attribute name="compression" type="token"/>
      <attribute name="encoding" type="token" 
        default="UTF-8"/>
      <attribute name="cksum" type="token"/>
    </extension>
  </simpleContent>
 </complexType>
  
  <!--
  End of schema.
  -->
</schema>
